#body {
    background-image: url(images/bg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 17px;
}

.pusher {
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    cursor: url("http://aizen.hol.es/IdleFive/images/normal.cur"), pointer;
}

.cash:active {
	animation:UseEffect 0.2s ease-out;
}

.cash {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
}

.cash:hover {
    cursor: url("http://aizen.hol.es/IdleFive/images/hand.cur"), pointer;
}

.button:hover {
    cursor: url("http://aizen.hol.es/IdleFive/images/hand.cur"), pointer;
}

#colonne-m {
    text-align: center;
    padding-left: 4.5rem;
    padding-right: 0rem;
    width: 40%;
    position: fixed;
    z-index: 999;
}

#colonne-d {
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 0rem;
    width: 57%;
    left: 38.5%;
}

.surc {
    text-align: center;
    height: 60%;
    overflow: auto;
}

.centrer {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 3vh;
	font-family: Anton;
    margin: 2.5vh 0vh 0vh 0vh;
    color: #338409;
}

.bronze {
	color: rgb(148, 124, 52);
	text-shadow: 0.1vh 0px 0px rgb(120, 100, 0);
}

.argent {
	color: rgb(148, 148, 148);
	text-shadow: 0.1vh 0px 0px rgb(148, 148, 148);
}

.or {
	color: rgb(255, 190, 0);
	text-shadow: 0.1vh 0px 0px rgb(120, 100, 0);
}

.platine {
	color: rgb(214, 214, 214);
	text-shadow: 0px 0px 3vh rgb(1, 73, 110);
}

.rare {
	color: #027ce0;
	text-shadow: 0px 0px 3vh #192cbb;
}

.mythic {
	color: rgb(237, 34, 255);
	text-shadow: 0px 0px 3vh rgb(104, 6, 124);
}

.tactical {
    color: rgb(137, 47, 255);
    text-shadow: 0 0 3vh rgb(37, 0, 80);
}

.vert {
    color: #21ba45;
}

.gris {
	color: rgb(150, 150, 150);
}

.rouge {
    color: rgb(229, 46, 35);
}

.jaune {
	color: #FFF000;
}

.blanc {
    color: #FFF;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

@keyframes UseEffect { 
	0% {transform:scale(1,1);}
	50% {transform:scale(0.95,0.95);}
	100% {transform:scale(1,1);}
} 

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.type2 {
    font-family: Anton;
}

.type1 {
    font-family: Ubuntu;
}

.SuccessText {
    font-weight: bold;
    color: #FF0;
    font-size: 2.75vh;
    font-family: Ubuntu;
}

.Bronze {
    color: #B87833;
    text-shadow: 0 0 3vh rgb(119, 69, 4);
}

.Silver {
    color: rgb(94, 94, 94);
    text-shadow: 0 0 3vh rgb(80, 80, 80);
}

.Gold {
    color: #FDD017;
    text-shadow: 0 0 3vh rgb(219, 255, 14);
}

.Palladium {
    color: #B6AFA9;
    text-shadow: 0 0 3vh rgb(255, 255, 255);
}

.Platinum {
    color: rgba(206, 208, 221, 1);
    text-shadow: 0 0 3vh rgb(13, 220, 235);
}

#t1:after {
    content: "";
    display: inline;
    padding: 15% 14% 15% 13%;
    margin: 0% 2% 0% 2%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(http://aizen.hol.es/IdleFive/images/weapon.png);
}

#t2:after {
    content: "";
    display: inline;
    padding: 15% 14% 15% 13%;
    margin: 0% 2% 0% 2%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(http://aizen.hol.es/IdleFive/images/missions.png);
}

#t3:after {
    content: "";
    display: inline;
    padding: 15% 14% 15% 13%;
    margin: 0% 2% 0% 2%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(http://aizen.hol.es/IdleFive/images/garage.png);
}

.money {
    background-image: url(http://aizen.hol.es/IdleFive/images/cash.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
    display: inline-block;
    opacity: 1;
    margin: 0 0 -.2rem 0;
    width: 1.15em;
    height: 1.15em;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ui.inverted.table {
    background: rgba(0, 0, 0, 0.3);
}

.ui.black.message, .ui.inverted.message {
    background-color: rgba(0, 0, 0, 0.3);
}

.text {
    color: #FFF;
}

.ui.selection.active.dropdown {
    border-color: rgba(239, 239, 239, 0.5);
}

.ui.selection.dropdown {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
    cursor: url("http://aizen.hol.es/IdleFive/images/hand.cur"), pointer;
}

.ui.selection.active.dropdown .menu {
    border-color: rgba(255, 255, 255, 0.5);
}

.ui.dropdown .menu {
    background: rgba(0, 0, 0, 0.5);
}

.ui.selection.visible.dropdown>.text:not(.default) {
    color: rgba(255, 255, 255, 1);
}
.ui.dropdown .menu>.item:hover {
    color: rgba(0, 184, 67, 1);
}

.ui.dropdown .menu>.item.active {
    color: rgba(0, 184, 67, 1);
}

.ui.dropdown .menu>.item {
    color: rgb(255, 255, 255);
}

.ui.buttons .or:before {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
}

body ::-webkit-scrollbar-thumb {
    background: rgba(0, 184, 67, 1);
}

body ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 154, 67, 1);
}

body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
}

.ui.inverted.table th {
    background-color: rgba(0,0,0,0.01);
}

.ui.grid>[class*="very relaxed"].row>.column, .ui[class*="very relaxed"].grid>.column:not(.row), .ui[class*="very relaxed"].grid>.row>.column {
    padding-left: 0rem;
    padding-right: 0rem;
}

.shadow {
    background-color: rgba(0,0,0,0.15);
}

.azn {
    background-color: rgba(70, 255, 70, 0.10);
}

.azn-active {
    background-color: rgba(70, 255, 70, 0.25);
}

.pushable>.pusher {
    overflow-y: auto;
}

.bold {
    font-weight: bold;
}